.div1 {
    top: 25px;
}
.logo {
    height: 35px;
}
.menu1 {
    width: 86%;
    left: 105px;
    position: fixed;
    opacity: 0.8;
    height: 100px;
}
.home {
    margin-bottom: 15px;
    height: 15px;
    margin-left: 15px;
}
.div2 {
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 150px;
}
.black {
    font-size: 20px;
    color: black;
}
.menu {
    border: 10px solid honeydew;
    background-repeat: no-repeat;
    background-repeat: round;
    width: 400px;
}

.textmenu {
    font-size: 20px;
    color: black;
}
.texto-de-baixo-menu {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 110px;
    margin-bottom: 40px;
    margin-right: 110px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.flex-container > div {
    margin: 5px;
    text-align: center;
}
.textCor {
    color: black;
}
a {
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
.q {
    margin-top: 148px;
    width: 100%;
    height: 55px;
    position: absolute;
    background-color: white;;
    opacity: 0.5;
}
.sub-menu{
    display: flex;
}
.sub-menu img{
    align-items: center;
    height: 35px;
}
.nemuazul{
    background-color: aqua;
}
.cadastro-e-editar{
    margin: 25px;
    border: solid 1px black;

}
.cadastro-e-editar img{
    margin: 5px;
    width: 15%;
}
.pesquisa {
    height: 25px;
}
.cadastro-e-editar hr{
    margin: 2px;
    border: solid 1px;
}
.cadastro-e-editar form{
    margin: 25px;
}
nav{
    padding: 0;
}
.imgMedida{
    height: 50%;
    width: 50%;
    background-color: aliceblue;
}
.pesquisa{
    margin: 10px;
}
.conteudo{
    margin: 5px;
    border: solid 1px black;
}
.conteudo label{
    margin: 5px;
}
.padding-0{
    padding: 0;
}.form-row{
    margin: 3px;
}
.login{

    margin: 25%;
    margin-top: 25%;
    border: solid 1px black;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}
.login h2{
    text-align: center;
}
.login form{
    margin: 10px;
}
.link_de_cadastro{
    display: inline;
    float: right;
    margin-right: 5px;

}
